<section class="home" id="home">
	{{#with home}}
		<article class="home-browsers">
			
			<div class="sublime">
				{{!-- {{> browser-ui-start}} --}}
					<img src="../../graphs/home_notebook.png" />
					{{!-- <aside class="side-bar">
						<ul class="file-list">
							{{#each files}}
								<div class="file-list-item-container {{#insertClass this.isSelected 'selected'}}{{/insertClass}}">
									<li class="file-list-item indent-{{this.indent_level}} {{#insertClassConditionally this.isDirectory this.isExpanded 'expanded' 'notExpanded'}}{{/insertClassConditionally}}">{{this.name}}</li>
								</div>
							{{/each}}
						</ul>
					</aside> --}}
					{{!-- <article class="single-file">
						{{#times 10 'div' 'code'}}{{/times}}
					</article> --}}
				{{!-- {{> browser-ui-end}} --}}
			</div>
			
			<div class="terminal">
				{{> browser-ui-start}}
					{{#each terminalText}}
						{{#if this.column}}
							<div class="terminal-column">
								{{#each this.text}}
									<p class="terminal-text">{{this}}</p>
								{{/each}}
							</div>
						{{else}}
							<p class="terminal-text">{{this.text}}</p>
						{{/if}}
					{{/each}}
				{{> browser-ui-end}}
			</div>
		
		</article>
		<article class="title">
			<h2 class="headline">{{headline}}</h2>
			<h3 class="subheadline">{{subheadline}}</h2>
		</article>
		<i class="down-arrow"></i>
	{{/with}}
</section>
